.site-footer {
    clear: both;
    font-size: x-small;
}

#btw-site-navigation {
    .navbar-nav>.open>a {
        background-color: #d7d7d7;
    }

    .alert {
        margin-bottom: 0px;
        font-weight: bold;
    }
}

.fa-plus {
    color: green;
}

table {
    .table-pagination {

        text-align: right;

        .pagination {
            margin: 0px;
            display: inline-block;
        }
    }
}
