<span class="sf-popover-button _phantom_wrap _inline field-view">\
<span class="_phantom_wrap _inline field">{{heading_for_display}} ({{path}})</span>&nbsp;\
<a class='btn btn-default btn-xs _phantom _text popover-button'
   data-toggle='popover'
   tabindex='0' role='button' contenteditable='false'>\
<i contenteditable='false' tabindex='-1' class='fa fa-fw fa-info'> </i></a>\
{{#if canDelete}} \
<span class='btn btn-default btn-xs _phantom _text delete-button'>\
<i class='fa fa-fw fa-times'></i></span>\
{{~/if~}}\
</span>
