/test_logs
/sitestatic
/media
/README.html
/node_modules
*.pyc
*_flymake.*
doc/_build
doc/_apidoc
build
var
local_config
.glerbl/local_conf.py
local.mk
/transformations
/TODO.private
/dev-backups
/.btw-venv*
env
# Ignore .venv too. We use it as a symlink to .btw-venv
/.venv
