Django>=1.6
# The south doc recommends not automatically upgrading beyond 0.8.
South>=0.8.1,<0.8.99
semver>=0.0.2
django-nose>=1.2
django-webtest>=1.7.5
webtest>=2.0.15
django-less>=0.7.2
mock>=1.0.1,<2
mitmproxy>=0.11.0,<0.12.0
django-allauth>=0.15.0
django-datatables-view>=1.12
psycopg2>=2.5.2,<3
django-forms-bootstrap>=3.0.0,<4
requests>=2.4.0,<3
pyvirtualdisplay>=0.1.5,<2
selenium==2.43.0
pebble>=3.1.8,<4
django-redis>=3.8.1,<4
django-cache-management>=0.1.0,<1
