Django>=1.7.7,<1.8
# The south doc recommends not automatically upgrading beyond 0.8.
semver>=0.0.2
django-nose>=1.4,<2
django-webtest>=1.7.5
webtest>=2.0.15
mock>=1.0.1,<2
mitmproxy>=0.11.0,<0.12.0
django-allauth>=0.19.1,<0.20
django-datatables-view==1.13
psycopg2>=2.5.2,<3
django-forms-bootstrap>=3.0.0,<4
requests>=2.4.0,<3
pyvirtualdisplay>=0.1.5,<2
selenium==2.45.0
pebble>=3.1.8,<4
django-redis>=3.8.4,<4
django-cache-management>=1.0.0,<2
kombu>=3.0.30,<4
celery[redis]>=3.1.17,<4
djangorestframework>=3.1.1,<4
python-slugify>=0.1.0,<0.2
functools32>=3.2.3,<4
django-cms>=3.1,<4
# These are required by django-cms
django-treebeard==3.0
django-sekizai==0.7
django-classy-tags==0.5
djangocms-admin-style==0.2.5
html5lib==0.999
# Optional, recommended packages for django-cms
Pillow>=2,<3
django-filer==0.9.9
cmsplugin-filer==0.10.1
django-reversion==1.8.6
djangocms-text-ckeditor>=2.4.3,<3
cmsplugin-iframe==0.1.1
lxml>=3.4.4,<4
cssselect>=0.9.1,<1
grako>=3.6.5,4
django-pipeline>=1.5.4,<2
