Django>=1.11.4,<2
semver>=0.0.2
django-nose>=1.4.4,<2
django-webtest>=1.9.2
webtest>=2.0.27
mock>=1.0.1,<2
mitmproxy>=0.11.0,<0.12.0
django-allauth>=0.25.2,<0.26
django-datatables-view==1.13
psycopg2>=2.5.2,<3
django-bootstrap3>=8.2.1,<9
requests>=2.4.0,<3
pyvirtualdisplay>=0.1.5,<2
selenium==2.49.0
behave>=1.2.5,<2
selenic>=0.11.0,<1
wedutil==0.20.2
pebble>=3.1.8,<4
# We cannot use versions greater than 4.3.0 until this is fixed:
# https://github.com/niwinz/django-redis/issues/223
# Will probably be fixed in 4.6.0, which is still unreleased.
django-redis==4.3.0
django-cache-management>=2,<3
celery[redis]==4.0.2
#
# We need this to prevent brpop failures. See:
# https://github.com/celery/kombu/issues/681
#
-e git+https://github.com/lddubeau/kombu@fix/failing-brpop#egg=kombu
djangorestframework>=3.4.0,<4
python-slugify>=0.1.0,<0.2
functools32>=3.2.3,<4
django-cms==3.4.1
# We do not strictly speaking this package directly but django-cms
# uses it 1 won't work with Django 1.11
django-formtools>=2,<3
# These are required by django-cms
django-treebeard>=4.1.2,<5
django-sekizai==0.10.0
django-classy-tags>=0.8.0,<0.9
djangocms-admin-style==1.1.0
html5lib==0.999
# Optional, recommended packages for django-cms
Pillow>=2,<3
django-filer==1.2.8
# Django filer needs this but to work with Django 1.11 it needs
# to be at 2.4.1.
easy-thumbnails==2.4.1
cmsplugin-filer==1.1.3
django-reversion>=1.10.1,<1.11
djangocms-text-ckeditor==3.3.1
cmsplugin-iframe==0.1.3
lxml>=3.4.4,<4
cssselect>=0.9.1,<1
grako==3.8.1
django-pipeline>=1.6.9,<1.7
django-mptt>=0.8.6,<0.9
#
# We have to use this until this is taken care of:
# https://github.com/andymccurdy/redis-py/pull/813
#
git+https://github.com/lddubeau/redis-py@fix/no-interruptederror-on-python-2.7#egg=redis
# Uncomment this and update with version number when the above has been merged:
# redis>=2.10.5,<3
#
django-debug-toolbar==1.4
eulexistdb>=0.21.1,<1
eulxml>=1.1.3,<2
pyee>=1.0.2,<2
nose-progressive>=1.5.1
glerbl==0.1.0
