{% extends "semantic_fields/base.html" %}
{% block extrahead %}
{{ block.super }}
<link href="{{ btw_globals.btw_datatables_css_path }}" type="text/css" media="screen" rel="stylesheet" />
{% endblock %}
{% block content %}
{% include "semantic_fields/search_table.html" %}

<script>
  require(["jquery", "../js/displayers", "../js/semantic-field-search",
  "../js/semantic-field-edit"],
  function ($, displayers_mod, st, edit) {
    var $table = $(document.getElementById("semantic-field-table"));
    var table_panel = $table[0].closest(".panel");
    var $template = $(displayers_mod.html_template);
    table_panel.parentNode.insertBefore($template[0], table_panel.nextSibling);
    var displayers = st($table,
        $template[0],
        { ajax_source_url: "{% url 'semantic_fields_table' %}" }).displayers;
    var create_field_buttons = table_panel.querySelectorAll(".btn.create-field");
    var create_field_div = table_panel.querySelector("div.create-field");
    {% if request.user.can_add_semantic_fields %}
    edit(create_field_buttons, create_field_div, displayers);
    {% endif %}
  });
</script>
{% endblock %}
