{% extends "base.html" %}
{% block head %}Associate Bibliographic Item and Abbreviation{% endblock %}
{% block content %}
<form action="associate" method="get">{% csrf_token %}
<input type="hidden" name="item_key" value="{{ item_key }}"/>
<input type="hidden" name="zotero_write_token" value="{{ zotero_write_token }}"/>
<p><label for="id_abbrev">Abbreviation:</label> <input id="id_abbrev" type="text" name="abbrev" value="{{ abbrev }}"/></p>
{% autoescape off %}
{{ item }}
{% endautoescape %}
<input type="submit" name="submit" value="Submit"/>
</form>
{% endblock %}
