{% extends "base.html" %}
{% block head %}Zotero Search{% endblock %}
{% block content %}
<form action="search" method="get">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Search" />
</form>
{% if query_string %}
<p>
Query: {{ query_string }}
</p>
{% if response %}
<div>
  <h2>Results</h2>
{% if next_items %}
<a href="?q={{ query_string }}&start={{ next_items }}">Forward</a>
{% endif %}
{% if prev_items != None %}
{% if prev_items %}
<a href="?q={{ query_string }}&start={{ prev_items }}">Back</a>
{% else %}
<a href="?q={{ query_string }}">Back</a>
{% endif %}
{% endif %}
<form action="associate" method="get">{% csrf_token %}
{% autoescape off %}
{{ response }}
{% endautoescape %}
</form>
{% else %}
  <p>No hits.</p>
{% endif %}
</div>
{% endif %}
{% endblock %}
