{% extends "base.html" %}
{% load staticfiles %}
{% block page_title %}
  {% if page_title %}
    {{ page_title }}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block branding %}
<nav id="btw-site-navigation" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#btw-site-navigation-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BTW</a>
    </div>
    <div class="collapse navbar-collapse" id="btw-site-navigation-collapse">
    <ul class="nav navbar-nav">
      <li id="btw-home-menu"><a href="/">Home</a></li>
      <li id="btw-lexicography-menu"><a href="{% url 'lexicography_main' %}">Lexicography</a></li>
      <li id="btw-bibliography-menu" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Bibliography <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li id="btw-bibliography-general-sub"><a href="{% url 'bibliography_search' %}">General Search</a></li>
          {% if perms.bibliography.add_primarysource and perms.bibliography.change_primarysource %}
          <li id="btw-bibliography-manage-sub"><a href="{% url 'bibliography_manage' %}">Manage</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li id="btw-account-menu" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          {{ user.username }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {% if user.is_superuser %}
          <li><a href="{% url 'admin:index' %}">Administration</a</li>
          {% endif %}
          <li><a href="{% url 'logout' %}">Log out</a></li>
        </ul>
      </li>
      {% else %}
      <li><a href="{% url 'login' %}">Log in</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}

{% block end %}
<script>
  require(["jquery"], function ($) {
      if (typeof django_active_menu !== 'undefined')
          $("#" + django_active_menu).addClass("active");
      if (typeof django_active_submenu !== 'undefined')
          $("#" + django_active_submenu).addClass("active");
  {% if settings.DEBUG %}
      var $body = $(document.body);
      $body.css("background-image", "url({% static 'images/development_wm.png' %})");
      $body.css("background-size", "15%");
  {% endif %}
  });
</script>
{% endblock %}
