{% load url from future %}
{% load staticfiles %}
{% load libcore %}
{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>{% block page_title %}BTW{% endblock %}</title>
      {% render_block "js" %}
      <script type="text/javascript" src="{% static 'lib/external/last-resort.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/initial-error-handler.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/wed/polyfills/matches.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/wed/polyfills/closest.js' %}"></script>
      <script type="text/javascript" src="{{ btw_globals.requirejs_path }}"></script>
      <script type="text/javascript" src="{% static 'lib/global-deps-shim.js' %}"></script>
      <script type="text/javascript" src="{{ btw_globals.requirejs_config_path }}"></script>
      <script>
        require.config({
          baseUrl: '{% static 'lib/' %}'
        });
        {% if debug %}
        require.config({
          config: {
            "backbone-glue": { debug: true },
          }
        });
        {% endif %}
        require(["bootstrap"]);
      </script>
      <link href="{{ btw_globals.btw_bootstrap_css_path }}" type="text/css" media="screen" rel="stylesheet" />
      <link href="{{ btw_globals.btw_fontawesome_css_path }}" type="text/css" media="screen" rel="stylesheet" />
      <link href="{% static 'css/site.css' %}" type="text/css" media="screen" rel="stylesheet" />
      <script type="text/javascript">
	{% autoescape off %}
	{{ btw_globals.wed_config }}
	{% endautoescape %}
      </script>
      {% block extrahead %}{% endblock %}
      {% render_block "css" %}
    </head>

    <body>
      {% cms_toolbar %}
      <div class="container">
        <div class="row" id="branding">
          {% block branding %}{% endblock %}
        </div>
        {% block content %}{% endblock %}
        <div class="row site-footer">
          <div class="text-center navbar"
               style="min-height: 1em; margin: 0px">
            <p>Copyright
                2013-2015 <a href="http://www.mangalamresearch.org/">Mangalam
                Research Center for Buddhist Languages, Berkeley,
                CA.</a> Version: {% version %}.
            </p>
          </div>
        </div>
      </div>
      {% block end %}{% endblock %}
      {% render_block "js_late" %}
    </body>
</html>
