{% load url from future %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
    <head>
	<meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8">
        <title>{% block page_title %}BTW{% endblock %} </title>
	<script type="text/javascript" src="{{ btw_globals.requirejs_path }}"></script>
	<script type="text/javascript" src="{{ btw_globals.requirejs_config_path }}"></script>
	<script type="text/javascript">
	{% autoescape off %}
	{{ btw_globals.wed_config }}
	{% endautoescape %}
	</script>
	{% block extrahead %}{% endblock %}
    </head>

    <body>
        <h1>{% block head %}{% endblock %}</h1>
        {% block content %}{% endblock %}
        <div class="footer">
          <a href="/">Main page</a>
          {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">Log out</a>
          {% else %}
              <a href="{% url 'login' %}">Log in</a>
          {% endif %}
        </div>
    </body>
</html>
