{% extends "base_site.html" %}
{% load staticfiles %}
{% load url from future %}
{% block extrahead %}
<script>
  var django_active_menu = "btw-home-menu";
</script>
<style>
.container {
    font-size: 18px;
}
</style>
{% endblock %}
{% block content %}
<div class="row">
  <h3>Buddhist Translators Workbench</h3>

  <p>Welcome to the Buddhist Translators Workbench.</p>
  <p>A user guide is
    available <a href="https://www.dropbox.com/sh/73kureptrpp5qjr/AACF5j09lB306IGPc_Hyp5SFa/BTW%20User%20Guide.pdf?dl=0">here</a>. The
    following video illustrates some of the features of BTW.</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/N2ZeTtIJVR0" frameborder="0" style="display: block; margin: 20px auto;" allowfullscreen></iframe>
  <div class="col-lg-12 well well-sm">
    <div class="col-lg-6">
      <p>
        Copyright 2013-2015
        <a href="http://www.mangalamresearch.org/">Mangalam
          Research Center for Buddhist Languages, Berkeley, CA.</a>
      </p>
      <a href="http://www.mangalamresearch.org/"><img src="{% static 'images/logos/mangalam.png' %}"></a>
      <hr>
      <a href="http://historicalthesaurus.arts.gla.ac.uk/"><img width="60%" src="{% static 'images/logos/HTOES_Logo.png' %}"></a>
    </div>
    <div class="col-lg-6">
      <p>
        This project has been made possible in part by a Level I
        Digital Humanities Start-up Grant and a Level II Digital
        Humanities Start-up Grant from the National Endowment for
        the Humanities (grant numbers HD-51383-11 and
        HD-51772-13). Any views, findings, conclusions, or
        recommendations expressed in this software do not
        necessarily represent those of the National Endowment for
        the Humanities.
      </p>
      <a href="http://www.neh.gov/"><img src="{% static 'images/logos/neh_logo_horizontal_rgb.jpg' %}"></a>
    </div>
  </div>
</div>
{% endblock %}
