{% extends "lexicography/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block extrahead %}
<link href="{% static "lib/wed/wed.css" %}" media="screen" rel="stylesheet" />
<link href="{% static "lib/btw/btw-view.css" %}" media="screen" rel="stylesheet" />
<link href="{% static "lib/external/bootstrap-datepicker/css/bootstrap-datepicker.css" %}" media="screen" rel="stylesheet" />
{% for polyfill in btw_globals.wed_polyfills %}
<script type="text/javascript" src="{{ polyfill }}"></script>
{% endfor %}
{{ block.super }}
<script id="wed-data" type="text/xml">{% autoescape off %}{{ data }}{% endautoescape %}</script>
{% endblock %}
{% block content %}
{% if not is_published %}
<div class="alert alert-danger article-alert" role="alert">
  You are looking at an unpublished version of the article.{% if latest_published %} Follow this <a href="{{ latest_published.get_absolute_url }}">link</a> to get to the latest published version.{% endif %}
</div>
{% else %}
{% if latest_published %}
<div class="alert alert-danger article-alert" role="alert">
  There is a <a href="{{ latest_published.get_absolute_url }}">newer published version</a> of this article.
</div>
{% endif %}
{% endif %}
{% if latest_unpublished %}
<div class="alert alert-danger article-alert" role="alert">
  There is a <a href="{{ latest_unpublished.get_absolute_url }}">newer unpublished version</a> of this article.
</div>
{% endif %}
{% include "lexicography/viewer.html" %}
<script>
{% get_current_language as LANGUAGE_CODE %}
require(['btw/btw_view', '../js/lexicography/view-support'],
function(Viewer, sup) {
  var wed_document = document.getElementsByClassName("wed-document")[0];
  var data = document.getElementById("wed-data").textContent;

  var viewer = new Viewer(wed_document, "{{edit_url}}",
                          "{{ fetch_url }}", "{{ semantic_field_fetch_url }}",
                          data,
      {% autoescape off %}{{ bibl_data }}{% endautoescape %},
                          // We have to build the prefix from
                          // the language code.
                          "/{{ LANGUAGE_CODE }}");

  // Purposely leak it.
  window.btw_viewer = viewer;
  sup("{{ permalink }}", "{{ version_permalink }}", viewer);
});
</script>

{% endblock %}
