{% extends "lexicography/base.html" %}
{% load staticfiles %}
{% block extrahead %}
<link href="{% static "lib/wed/wed.css" %}" media="screen" rel="stylesheet" />
<link href="{% static "lib/btw/btw-view.css" %}" media="screen" rel="stylesheet" />
{% for polyfill in btw_globals.wed_polyfills %}
<script type="text/javascript" src="{{ polyfill }}"></script>
{% endfor %}
{{ block.super }}
<script id="wed-data" type="text/xml">{% autoescape off %}{{ data }}{% endautoescape %}</script>
<script>
require(['btw/btw_view'], function(Viewer) {
  var wed_document = document.getElementsByClassName("wed-document")[0];
  var data = document.getElementById("wed-data").textContent;
  // Purposely leak it for testing.
  window.btw_viewer = new Viewer(wed_document, "{{edit_url}}", data,
             {% autoescape off %}{{ bibl_data }}{% endautoescape %});
});
</script>
{% endblock %}
{% block content %}
<div class="wed-frame">
  <div class="wed-document">
  </div>
</div>
{% endblock %}
