{% extends "lexicography/base.html" %}
{% load url from future %}
{% load libcore %}
{% load liblex %}
{% load bootstrap_tags %}
{% block extrahead %}
{{ block.super }}
<link href="{{ btw_globals.btw_datatables_css_path }}" type="text/css" media="screen" rel="stylesheet" />
<style type="text/css">
  #search-table_filter label {
    float: none;
  }
  #search-table_filter {
    white-space: nowrap;
  }

  #search-table_filter input[type="checkbox"] {
    width: auto;
  }

</style>
{% endblock %}
{% block content %}
{% if perms.lexicography.add_entry %}
<a class="btn btn-default" href="{% url 'lexicography_entry_new' %}"/>New Article</a>
{% endif %}
<hr>
<table id="search-table" class="table table-striped">
  <thead>
    <tr>
      <th>Headword</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
  </tfoot>
</table>
<script>
  require(["jquery", "../js/search-table"], function ($, st) {
    var $table = $(document.getElementById("search-table"));
    st($table, {
      ajax_source_url: "{% url 'lexicography_search_table' %}",
    });
  });
</script>
{% endblock %}
