{% extends "base.html" %}
{% load url from future %}
{% block head %}Lexicography{% endblock %}
{% block content %}
<a href="{% url 'lexicography_entry_new' %}"/>New</a>
<form action="search" method="get">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Search" />
</form>
{% if query_string %}
<p>
Query: {{ query_string }}
</p>
{% if found_entries %}
  <ul>
  {% for entry in found_entries %}
  <li><a href="{% url 'lexicography_entry_details' entry.id %}">{{ entry.headword }}</a> <a href="{% url 'lexicography_entry_update' entry.id %}">edit</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>No hits.</p>
{% endif %}
</ul>
{% endif %}
{% endblock %}
