{% extends "lexicography/base.html" %}
{% load staticfiles %}
{% load sekizai_tags %}
{% block content %}
{% addtoblock "css" %}
{% for sheet in btw_globals.wed_css %}
<link href="{% static sheet %}" type="text/css" media="screen" rel="stylesheet" />
{% endfor %}
<link href="{{ btw_globals.btw_mode_css }}" type="text/css" media="screen" rel="stylesheet" />
{% endaddtoblock %}
<div class="wed-frame">
  <div class="wed-document">
    <div id="test-body" class="sf-editor-modal-body">
    </div>
  </div>
</div>
<script>
var testBody = document.getElementById("test-body");
// This is an arbitrary size.
testBody.style.height = "500px";
require(["btw/semantic_field_editor/app", "btw/semantic_field_fetcher",
         "semantic-fields/util", "lodash"],
  function (SFEditor, SFFetcher, sfUtil, _) {
    var fetcher = new SFFetcher("{{ semantic_field_fetch_url }}",
                                undefined);


    fetcher.fetch(["02.02.18n", "02.02.19n", "01.04.04n"]).then(
      function (resolved) {
      var fields = _.values(resolved);
      var app = window.editor = new SFEditor({
        container: testBody,
        fields: fields,
        fetcher: fetcher,
        searchUrl: "{{ semantic_field_fetch_url }}",
      });
      app.start();
    });
});
</script>
{% endblock %}
