{% extends "bibliography/base.html" %}
{% block extrahead %}
{{ block.super }}
<link href="{{ btw_globals.btw_datatables_css_path }}" type="text/css" media="screen" rel="stylesheet" />
<link href="{{ btw_globals.btw_bootstrap_editable_css_path }}" type="text/css" media="screen" rel="stylesheet" />
<script>
  require(["jquery", "../scripts/title-table"], function ($, tt) {
      $(function () {
          tt($("#bibliography-table"), {
              ajax_source_url: "{% url 'bibliography_item_table' %}",
              can_edit: {{ can_edit|yesno:'true,false' }}
          });
      });
  });
</script>
{% endblock %}
{% block content %}
{% if can_edit %}
<p>Previously refreshed from Zotero database: <span id="btw-prev-refreshed">{{ prev_refreshed }}</span>. <button id="btw-refresh" class="btn btn-default" title="Refresh"><i class="fa fa-refresh"></i></button></p>
<script>
require(["../scripts/refresh"], function (refresh) {
    var initiate_url = '{{ initiate_refresh_url }}';
    var check_url = '{{ check_refresh_url }}';

    refresh(initiate_url, check_url);
});
</script>
{% endif %}
{% include "bibliography/table.html" %}
{% endblock %}
