{% load staticfiles %}
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>QUnit tests for bibsearch application.</title>
      <link rel="stylesheet" href="{{ btw_globals.btw_qunit_css_path }}">
   </head>
   <body>
      <div id="qunit"></div>
      <div id="qunit-fixture"></div>
      <script src="{{ btw_globals.requirejs_path }}"></script>
      <script src="{{ btw_globals.requirejs_config_path }}"></script>
      <script src="{% static "scripts/unitTest.js" %}"></script>
   </body>
</html>
