{% load staticfiles %}
<script>
  require(["jquery", "../scripts/title-table"], function ($, tt) {
      $(function () {
          var $head = $("head");
          var paths = ["{{ btw_globals.btw_datatables_css_path }}"];
          for(var i = 0; i < paths.length; ++i) {
              var path = paths[i];
              if (!$head.find("link[href='" + path + "']")[0]) {
                  var $link =
                      $("<link type='text/css' media='screen' rel='stylesheet' />");
                  $link[0].setAttribute("href", path);
                  $head.append($link);
              }
          }

          var $table = $("#bibliography-table");
          tt($table, {
              ajax_source_url: "{% url 'bibliography_item_table' %}",
              can_edit: false,
              rows: 4,
              selectable: true
          });
      });
  });
</script>
<!-- <script src="{% static "scripts/main.js" %}"></script> -->
<div class="bibsearch">
{% include "bibliography/table.html" %}
</div>
