<table id="bibliography-table" class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th style="white-space: nowrap;">
        <div class="btn btn-outline-dark btn-sm hide-all-ps" title="Hide all primary sources"><i class="fa fa-caret-right"></i></div>
        <div class="btn btn-outline-dark btn-sm show-all-ps" title="Show all primary sources"><i class="fa fa-caret-down"></i></div>
      </th>
      <th>Creator(s)</th>
      <th>Original Title</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
  </tfoot>
</table>
