{% extends "bibliography/base.html" %}
{% load url from future %}
{% load libcore %}
{% load liblex %}
{% load less %}
{% block extrahead %}
{{ block.super }}
<link href="{{ btw_globals.btw_datatables_css_path }}" type="text/css" media="screen" rel="stylesheet" />
<link href="{{ btw_globals.btw_bootstrap_editable_css_path }}" type="text/css" media="screen" rel="stylesheet" />
<script>
  var django_active_submenu = "btw-bibliography-title-sub";
  require.config({
    config: {
      "../scripts/title-table": {
          ajax_source_url: "{% url 'bibliography_title_table' %}"
      }
    }
  });
  require(["../scripts/title-table"]);
</script>
{% endblock %}
{% block content %}
<table id="bibliography-table">
  <thead>
    <tr>
      <th></th>
      <th>Title for Reference</th>
      <th>Creator(s)</th>
      <th>Original Title</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
  </tfoot>
</table>
{% endblock %}
